/*
Crvena - #e74848
Sive - #bcbcbc, #444, #333, #666, #b5b5b5
*/

@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin,latin-ext);




h1, h2, h3, h4, h5, h6{ font-weight:400; line-height:120%;}
img {width:auto; max-width:100%; height:auto;}
a {text-decoration: none;}
.clr {clear:both;}

.container{width:100%; max-width: 1200px; padding:0 20px; margin:0 auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;position: relative;}

.grid-3, .grid-4, .grid-6, .grid-8, .grid-9{ float:left}
.grid-3{ width:25%}
.grid-4{ width:33%}
.grid-6{ width:50%}
.grid-8{ width:67%}
.grid-9{ width:75%}
.grid-12{ width:100%}

body {background: #f6f6f6;font-family: 'Roboto'; font-style: normal; font-weight: 300;}


#main .container {background: #fff;}
.grid-9 h1  {font-family: 'Kaushan Script';color:#e74848; font-weight: 600;}
.grid-9 h2 {font-family: 'Kaushan Script';color:#e74848;font-weight: 400;}

.brendovi {border-top: 1px solid #b5b5b5;border-bottom: 1px solid  #b5b5b5;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; min-height:60px; padding:15px 0;margin-bottom: 10px;}

.brendovi ul {margin: 0px; padding: 0px; list-style: none;}
.brendovi ul li {float: left; width:10.75%; margin 0 2% 5px 0px; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
.brendovi ul li:last-child {margin-right: 0;}

.sidebar {padding-left: 10px;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}

.akcije ul {list-style-type: none; margin: 0;padding: 0;border: 1px solid #b5b5b5;}
.akcije h3{background: #000; color:#fff; text-transform: uppercase; border-top: 2px solid #e74848; padding: 14px;margin-bottom: 0;margin-top: 15px;}

.akcije li img{display: block;margin: 0 auto;}
.akcije li {text-align: center;}
.akcije li:nth-child(1) {border-bottom: 1px dotted #b5b5b5;}
.akcije li:nth-child(2) {color:#e74848;}
.akcije span {font-weight: 700;}

.sidebar .vesti {list-style: none; margin: 0px; padding:0;}
.sidebar .vesti ul {margin-top: -5px;}
.sidebar .vesti li { padding-bottom: 5px;}
.sidebar .vesti li:last-child {border-bottom: none;}
.sidebar .vesti li span {color:#e74848; border-bottom: 1px dotted #b5b5b5;display: block;margin-bottom: -10px;}
.sidebar .vesti h3 {background: #e74848; color:#fff; line-height: 50px; text-transform: uppercase;margin-top:10px;padding-left: 15px;padding-top: 4px;}

.youtube {width:100% !important;margin-bottom: 50px;}
.mapa {width:100% !important;}

p.telefon {background: url("../images/icons/telefon.png") no-repeat left center; padding-left: 30px; }
p.fax {background: url("../images/icons/fax.png") no-repeat left center; padding-left: 30px; }
p.email {background: url("../images/icons/email.png") no-repeat left center; padding-left: 30px; }
p.adresa {background: url("../images/icons/adresa.png") no-repeat left center; padding-left: 30px; }


form {margin: 0px; padding: 0px;margin-right: 20px;}
form input[type="text"], form input[type="email"] {background: #444; border: none; color: #fff; line-height: 20px; padding: 5px 10px; margin: 0px 0px 10px; box-sizing: border-box; width: 100%;}
form textarea {background: #444; border: none; color: #fff; line-height: 20px; height: 65px; padding: 5px 10px; margin: 0px 0px 10px; box-sizing: border-box; width: 100%;}
form input[type="submit"] {margin: 0px; padding: 5px 10px; background: #e74848; border: none; color: #fff}

.galerija {list-style-type: none;}
.galerija li {width: 24%; max-width: 100%; float: left; box-sizing: border-box; margin: 0 1% 20px 0; text-align: center}
h2.galerija {color: #000;border-bottom: 1px dotted #ccc; font-weight: normal;font-size: 16px;padding-bottom: 5px;}

footer img{display: block;margin: 0 auto;}
footer p {text-align: center;}

#vrh {background: #e74848; color: #fff;}

/* navigacija responsive */


.left-side ul {list-style: none; margin: 0;padding: 0;}
.left-side ul li {margin: 0;padding: 0; border-bottom: 1px solid  #b5b5b5;}
.left-side ul li a {color: #000; line-height: 30px;display: block;padding-left: 4px;}
.left-side ul li ul li {padding-left: 30px;}
.left-side ul li ul li:last-child {border-bottom: none;}
.left-side li .active {background: #ed4848; color: #fff;}

/* RESPONSIVE */

/* Smartphones */
@media (max-width:480px) {

    .container {max-width:480px; padding: 0 1%;}
    .grid-3, .grid-4, .grid-6,.grid-8, .grid-9, .grid-12 {width:100%;float: none;}

    header {display: none !important;}

    .social-icons {float:none;text-align: center;padding-top: 50px;}
    .navigacija {padding: 0px 2px;}
    .grid-12 h1{text-align: center;}
    .grid-12 p {padding:0px 15px;-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
    .akcije {padding-right: 10px;}
    .mapa {margin-top: 10px;}
    .sidebar .vesti {padding-right: 10px;}
}



/* Smartphones and Tablet */
@media (min-width: 481px) and (max-width:767px) {

    header {display:none !important;}
    .container {max-width: 767px; padding: 0 1%;}
    .grid-9 {60%;}
    .grid-3 {40%;}
    .grid-8, .grid-4, .grid-6 {width:100%; float:none;}
    .navigacija {padding-right: 2px;}
    .sidebar .vesti h3 {line-height: 25px; text-align: center; padding: 5px 0; font-size:15px;}
    .social-icons {float:none;text-align: center;padding-top: 50px;}
    .mapa {margin-top: 10px; padding-right: 20px;-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}


}

/* Tablet */
@media (min-width:768px) and (max-width:959px){
    header {display: none !important;}
    #showPushLeft img {margin-left: -15px;}
}

/* Desktop */
@media (min-width: 960px) and (max-width: 1199px) {
    #vrh {display: none;}

}

/* Large Desktop */
@media (min-width: 1200px) {
    #vrh {display: none;}

}
