@import "variables.less";

body {padding-bottom: 20px; }


p.valuta {font-weight: bold; width: 9%;float: left;}
p.priceTag {width: 90%; float: left;}

.clr  {clear:both;}

#mainNavigation {
  margin-left: -15px;
}

#logo {
  border-bottom: 1px solid  #c5c5c5;
  padding-bottom: 10px;

}

#showModalForm {
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

//modal form
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
#suma {
  font-weight: bold;
}

#footer-main {
  padding: 5em;
}

.btn.btn-info.btn-block#showModalForm {
  margin-left: 0;
}
